.npmignore
.jshintrc
.eslintrc
.travis.yml

dist/
examples/
node_modules/
test/
fail/
helpers/
spec/
coverage/

Gruntfile.js
Makefile
karma.conf.js
tests-bundle.js

CHANGELOG.md
CONTRIBUTING.md
related-work.md
